{% extends 'base.html' %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}

{% if current_user.role_id == 1 %}
<form class="from" action="{{url_for('main.add_book')}}" method="POST">

<label for="sel1">Название:</label>
<input type="text" name='new_name' class="form-control" placeholder="Введите название" required>
<label for="sel1">Автор:</label>
<input type="text" name='new_author' class="form-control" placeholder="Введите автора" required>
<label for="sel1">Год выпуска:</label>
<input type="text" name='new_year' class="form-control" placeholder="Введите год выпуска" required>
<label for="sel1">Кол-во:</label>
<input type="text" name='new_val' class="form-control" placeholder="Введите кол-во" required>



    <input type="submit" class="btn btn-primary" >
  {% endif %}
  {% if current_user.role_id == 2 %}
<form class="from" action="{{url_for('main.set', id = red_book.id)}}" method="POST">
  
  <input type="submit" class="btn btn-primary" >
  {% endif %}
{% endblock %}