{% extends 'base.html' %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}
{% if current_user.role_id == 1 %}
<form class="from" action="{{url_for('main.set', id = red_book.id)}}" method="POST">
<label for="sel1">Id:</label>
<input type="text" name='new_id' class="form-control" placeholder="{{ red_book.id}}" disabled>
<label for="sel1">Название:</label>
<input type="text" name='new_name' class="form-control" value="{{red_book.name}}" required>
<label for="sel1">Автор:</label>
<input type="text" name='new_author' class="form-control" value="{{ red_book.author}}" required>
<label for="sel1">Год выпуска:</label>
<input type="text" name='new_year' class="form-control" value="{{ red_book.year}}" required>
<label for="sel1">Кол-во:</label>
<input type="text" name='new_val' class="form-control" value="{{ red_book.quantity}}" required>



    <input type="submit" class="btn btn-primary" >
  {% endif %}
 
{% endblock %}